.body{
    background-color: #F4F4F4;
}
.menu_up{
    /*border :1px solid black;*/
    position: fixed;
    top: 5px;
    width: 374px;
    height : 70px;
    text-align: center;
}
.main{
    /*border :1px solid black;*/
    position: fixed;
    top: 80px;
    width: 374px;
    height : 685px;
    background-color: white;
    border-radius : 20px;
    box-shadow: 0px 8px 7px -2px #BBBBBB;
}
.menu_down{
    border :1px solid black;
    position: fixed;
    top: 770px;
    width: 374px;
    height : 70px;
}
.chat{
    /*border :1px solid black;*/
    position: fixed;
    top:85px;
    height: 600px;
    width: 370px;
    left: 10px;
    overflow : scroll;

}
.chat::-webkit-scrollbar{
    display:none;
}
.input{
    /*border :1px solid black;*/
    position: fixed;
    top:688px;
    height: 75px;
    width: 370px;
    left: 10px;
}
.input1{
    position: relative;
    height: 45px;
    width: 340px;
    top: 0px;
    left: 12px;
    border-radius:10px;
    border: 1px solid #F8F8F8;
    background-color: #F8F8F8;
    box-shadow: 0px 8px 7px -2px #BBBBBB;
}
.button1{
    position: fixed;
    width :30px;
    height: 30px;
    top:698px;
    left: 327px;
}
.titletext{
    font-family: Pretendard;
    font-size: 30px;
    position: fixed;
    top: 20px;
    left: 45px;
    color: #3BB48E;
}
.menu_setting{
    border: 1px solid black;
    position:fixed;
    width: 50px;
    height:50px;
    top: 780px;
    left:20px;
}
.icon_setting{
    /*border: 1px solid black;*/
    position: fixed;
    top: 785px;
    left:30px;
    width: 30px;
    height:30px;
    text-align:center;
    font-size: 20px;
}
.text_setting{
    font-family: Pretendard;
    /*border: 1px solid black;*/
    position: fixed;
    top: 815px;
    left:20px;
    width: 50px;
    height:15px;
    font-size: 10px;
    color: #BBBBBB;
    text-align: center;
}
.menu_news{
    border: 1px solid black;
    position: fixed;
    width: 50px;
    height:50px;
    top: 780px;
    left: 96px;
}
.icon_news{
    /*border: 1px solid black;*/
    position: fixed;
    top: 785px;
    left: 106px;
    width: 30px;
    height:30px;
    text-align:center;
    font-size: 20px;
}
.text_news{
    font-family: Pretendard;
    /*border: 1px solid black;*/
    position: fixed;
    top: 815px;
    left: 96px;
    width: 50px;
    height:15px;
    font-size: 10px;
    color: #BBBBBB;
    text-align: center;
}
.menu_chat{
    border: 1px solid black;
    position: fixed;
    width: 50px;
    height:50px;
    top: 780px;
    left: 173px;
}
.icon_chat{
    /*border: 1px solid black;*/
    position: fixed;
    top: 785px;
    left: 183px;
    width: 30px;
    height:30px;
    text-align:center;
    font-size: 20px;
}
.text_chat{
    font-family: Pretendard;
    /*border: 1px solid black;*/
    position: fixed;
    top: 815px;
    left: 173px;
    width: 50px;
    height:15px;
    font-size: 10px;
    color: #BBBBBB;
    text-align: center;
}
.menu_voca{
    border: 1px solid black;
    position:fixed;
    width: 50px;
    height:50px;
    top: 780px;
    left: 250px;
}
.icon_voca{
    /*border: 1px solid black;*/
    position: fixed;
    top: 785px;
    left: 260px;
    width: 30px;
    height:30px;
    text-align:center;
    font-size: 20px;
}
.text_voca{
    font-family: Pretendard;
    /*border: 1px solid black;*/
    position: fixed;
    top: 815px;
    left: 250px;
    width: 50px;
    height:15px;
    font-size: 10px;
    color: #BBBBBB;
    text-align: center;
}
.menu_mypage{
    border: 1px solid black;
    position: fixed;
    width: 50px;
    height:50px;
    top: 780px;
    left: 323px;
}
.icon_mypage{
    /*border: 1px solid black;*/
    position: fixed;
    top: 785px;
    left: 333px;
    width: 30px;
    height:30px;
    text-align:center;
    font-size: 20px;
}
.text_mypage{
    font-family: Pretendard;
    /*border: 1px solid black;*/
    position: fixed;
    top: 815px;
    left: 323px;
    width: 50px;
    height:15px;
    font-size: 10px;
    color: #BBBBBB;
    text-align: center;
}