.body {
    background-color: #f4f4f4;
  }
  .main {
    border: 1px solid black;
    position: fixed;
    top: 10px;
    width: 374px;
    height: 755px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 8px 7px -2px #bbbbbb;
  }
  .menu_down {
    /*border :1px solid black;*/
    position: fixed;
    top: 770px;
    width: 374px;
    height: 70px;
  }

  .menu_setting {
    border: 1px solid black;
    position: fixed;
    width: 50px;
    height: 50px;
    top: 780px;
    left: 20px;
  }
  .icon_setting {
    /*border: 1px solid black;*/
    position: fixed;
    top: 785px;
    left: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 20px;
  }
  .text_setting {
    font-family: Pretendard;
    /*border: 1px solid black;*/
    position: fixed;
    top: 815px;
    left: 20px;
    width: 50px;
    height: 15px;
    font-size: 10px;
    color: #bbbbbb;
    text-align: center;
  }
  .menu_news {
    border: 1px solid black;
    position: fixed;
    width: 50px;
    height: 50px;
    top: 780px;
    left: 96px;
  }
  .icon_news {
    /*border: 1px solid black;*/
    position: fixed;
    top: 785px;
    left: 106px;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 20px;
  }
  .text_news {
    font-family: Pretendard;
    /*border: 1px solid black;*/
    position: fixed;
    top: 815px;
    left: 96px;
    width: 50px;
    height: 15px;
    font-size: 10px;
    color: #bbbbbb;
    text-align: center;
  }
  .menu_chat {
    border: 1px solid black;
    position: fixed;
    width: 50px;
    height: 50px;
    top: 780px;
    left: 173px;
  }
  .icon_chat {
    /*border: 1px solid black;*/
    position: fixed;
    top: 785px;
    left: 183px;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 20px;
  }
  .text_chat {
    font-family: Pretendard;
    /*border: 1px solid black;*/
    position: fixed;
    top: 815px;
    left: 173px;
    width: 50px;
    height: 15px;
    font-size: 10px;
    color: #bbbbbb;
    text-align: center;
  }
  .menu_voca {
    border: 1px solid black;
    position: fixed;
    width: 50px;
    height: 50px;
    top: 780px;
    left: 250px;
  }
  .icon_voca {
    /*border: 1px solid black;*/
    position: fixed;
    top: 785px;
    left: 260px;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 20px;
  }
  .text_voca {
    font-family: Pretendard;
    /*border: 1px solid black;*/
    position: fixed;
    top: 815px;
    left: 250px;
    width: 50px;
    height: 15px;
    font-size: 10px;
    color: #bbbbbb;
    text-align: center;
  }
  .menu_mypage {
    border: 1px solid black;
    position: fixed;
    width: 50px;
    height: 50px;
    top: 780px;
    left: 323px;
  }
  .icon_mypage {
    /*border: 1px solid black;*/
    position: fixed;
    top: 785px;
    left: 333px;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 20px;
  }
  .text_mypage {
    font-family: Pretendard;
    /*border: 1px solid black;*/
    position: fixed;
    top: 815px;
    left: 323px;
    width: 50px;
    height: 15px;
    font-size: 10px;
    color: #bbbbbb;
    text-align: center;
  }
  
.arrow {
    color: rgba(255, 255, 255, 1);
    top: 8px;
    left: 10px;
    width: 16px;
    height: 16px;
    position: absolute;
    font-size: 28px;
    font-style: Regular;
    text-align: center;
    font-family: JejuMyeongjo;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
    z-index: 1;
  }
  form.vocabu {
    display: flex;
  }
  
  div.vocabu {
    display: flex;
  }
  .button_voc {
    position: relative;
    background-color: #fafafa;
    top: 0px;
    left: 0px;
    width: 320px;
    height: 25px;
    border-color: rgba(226, 226, 226, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    justify-content: start;
    font-family: Pretendard;
    font-size: 15px;
    font-weight: 500;
    line-height: 120.00000476837158%;
    font-stretch: normal;
    text-decoration: none;
  }
  label,
  input {
    display: table-cell;
    margin-bottom: 10px;
  }
  
  label {
    padding-right: 10px;
  }
  form.defin {
    display: flex;
  }
  
  div.defin {
    display: flex;
  }
  .button_def {
    position: relative;
    background-color: #fafafa;
    top: 0px;
    left: 10.5px;
    width: 253px;
    height: 275px;
    border-color: rgba(226, 226, 226, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    justify-content: start;
    word-break: break-all;
    text-align: start;
    font-family: Pretendard;
    font-size: 15px;
    font-weight: 500;
    line-height: 120.00000476837158%;
    font-stretch: normal;
    text-decoration: none;
  }
  label,
  input {
    display: table-cell;
    margin-bottom: 10px;
  }
  
  label {
    padding-right: 10px;
  }
  form.sav {
    display: flex;
  }
  
  div.sav {
    display: flex;
  }
  .button_save {
    position: relative;
    gap: 8px;
    top: 680px;
    left: 15px;
    width: 343px;
    display: flex;
    padding: 15px 8px 16px 8px;
    position: absolute;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
    border-radius: 6px;
    border-color: #fbfbfb;
    border-style: solid;
    border-width: 1px;
    justify-content: center;
    background-color: rgba(59, 180, 142, 0.5);
    font-family: Pretendard;
    font-size: 18px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
  }
  
  label,
  input {
    display: table-cell;
    margin-bottom: 10px;
  }
  
  label {
    padding-right: 10px;
  }
  .iphonemetal {
    width: 374px;
    height: 780px;
    display: flex;
    overflow: hidden;
    position: fixed;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 20px;
    background-image: linear-gradient(
      180deg,
      rgba(59, 180, 142, 1) 0%,
      rgba(59, 180, 142, 0.5) 0%,
      rgba(59, 180, 142, 0) 100%
    );
    z-index: -1;
  }
  .whiterecord {
    background-color: #ffffff;
    top: 80px;
    left: 8.95px;
    width: 374px;
    height: 636px;
    position: fixed;
    border-radius: 40px 40px 0 0;
  }
  .addwordtxt {
    top: 17px;
    left: 125px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: Medium;
    text-align: left;
    font-family: Pretendard;
    font-weight: 500;
    line-height: 100%;
    font-stretch: normal;
    text-decoration: none;
  }
  .writedown {
    top: 105.86279296875px;
    left: 20px;
    color: rgba(22, 22, 22, 1);
    height: auto;
    position: absolute;
    font-size: 18px;
    font-style: Medium;
    text-align: left;
    font-family: Pretendard;
    font-weight: 500;
    line-height: 120.00000476837158%;
    font-stretch: normal;
    text-decoration: none;
  }
  .howmuchword {
    top: 554px;
    left: 295.333251953125px;
    color: var(--dl-color-gray-gray2);
    height: auto;
    position: absolute;
    font-size: 12px;
    font-style: Regular;
    text-align: right;
    font-family: Pretendard;
    font-weight: 400;
    line-height: 150%;
    font-stretch: normal;
    text-decoration: none;
  }
  .wanttosavebox {
    gap: 8px;
    top: 680px;
    left: 7.8px;
    width: 343px;
    display: flex;
    padding: 15px 8px 16px 8px;
    position: absolute;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
    border-radius: 6px;
    justify-content: center;
    background-color: rgba(59, 180, 142, 1);
  }
  .wanttosave {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 16px;
    font-style: Medium;
    text-align: center;
    font-family: Pretendard;
    font-weight: 500;
    line-height: 22px;
    font-stretch: normal;
    text-decoration: none;
  }
  .insiderecord {
    background-color: #ffffff;
    top: 270px;
    left: 14px;
    width: 343px;
    height: 275px;
    position: absolute;
  }
  .vocab {
    top: 150.63720703125px;
    left: 26px;
    color: var(--dl-color-gray-gray1);
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: Regular;
    text-align: left;
    font-family: Pretendard;
    font-weight: 400;
    line-height: 145.00000476837158%;
    font-stretch: normal;
    text-decoration: none;
  }
  .vocabrecord {
    background-color: #ffffff;
    top: -100px;
    left: 0px;
    width: 343px;
    height: 40px;
    position: absolute;
  }
  .def {
    top: 240.63720703125px;
    left: 26px;
    color: var(--dl-color-gray-gray1);
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: Regular;
    text-align: left;
    font-family: Pretendard;
    font-weight: 400;
    line-height: 145.00000476837158%;
    font-stretch: normal;
    text-decoration: none;
  }
  .needtofix {
    top: 280.63720703125px;
    left: 26px;
    color: var(--dl-color-gray-gray1);
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: Regular;
    text-align: left;
    font-family: Pretendard;
    font-weight: 400;
    line-height: 145.00000476837158%;
    font-stretch: normal;
    text-decoration: none;
  }