.body {
  background-color: #f4f4f4;
}
.main {
  position: fixed;
  top: 10px;
  width: 374px;
  height: 755px;
  border-radius: 20px;
  background-color: rgba(208, 249, 234, 0.2);
  box-shadow: 0px 3px 7px 2px #bbbbbb;
  overflow: auto;
}
.menu_down {
  position: fixed;
  top: 770px;
  width: 374px;
  height: 70px;
}

.menu_setting {
  position: fixed;
  width: 50px;
  height: 50px;
  top: 780px;
  left: 20px;
}
.icon_setting {
  /*border: 1px solid black;*/
  position: fixed;
  top: 785px;
  left: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 20px;
}
.text_setting {
  font-family: Pretendard;
  /*border: 1px solid black;*/
  position: fixed;
  top: 815px;
  left: 20px;
  width: 50px;
  height: 15px;
  font-size: 10px;
  color: #bbbbbb;
  text-align: center;
}
.menu_news {
  position: fixed;
  width: 50px;
  height: 50px;
  top: 780px;
  left: 96px;
}
.icon_news {
  /*border: 1px solid black;*/
  position: fixed;
  top: 785px;
  left: 106px;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 20px;
}
.text_news {
  font-family: Pretendard;
  /*border: 1px solid black;*/
  position: fixed;
  top: 815px;
  left: 96px;
  width: 50px;
  height: 15px;
  font-size: 10px;
  color: #bbbbbb;
  text-align: center;
}
.menu_chat {
  position: fixed;
  width: 50px;
  height: 50px;
  top: 780px;
  left: 173px;
}
.icon_chat {
  /*border: 1px solid black;*/
  position: fixed;
  top: 785px;
  left: 183px;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 20px;
}
.text_chat {
  font-family: Pretendard;
  /*border: 1px solid black;*/
  position: fixed;
  top: 815px;
  left: 173px;
  width: 50px;
  height: 15px;
  font-size: 10px;
  color: #bbbbbb;
  text-align: center;
}
.menu_voca {
  position: fixed;
  width: 50px;
  height: 50px;
  top: 780px;
  left: 250px;
}
.icon_voca {
  /*border: 1px solid black;*/
  position: fixed;
  top: 785px;
  left: 260px;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 20px;
}
.text_voca {
  font-family: Pretendard;
  /*border: 1px solid black;*/
  position: fixed;
  top: 815px;
  left: 250px;
  width: 50px;
  height: 15px;
  font-size: 10px;
  color: #bbbbbb;
  text-align: center;
}
.menu_mypage {
  position: fixed;
  width: 50px;
  height: 50px;
  top: 780px;
  left: 323px;
}
.icon_mypage {
  /*border: 1px solid black;*/
  position: fixed;
  top: 785px;
  left: 333px;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 20px;
}
.text_mypage {
  font-family: Pretendard;
  /*border: 1px solid black;*/
  position: fixed;
  top: 815px;
  left: 323px;
  width: 50px;
  height: 15px;
  font-size: 10px;
  color: #bbbbbb;
  text-align: center;
}
.back {
  width: 374px;
  height: 760px;
  position: fixed;
  overflow: hidden;
  border-radius: 20px;
}
.tt {
  position: fixed;
  top: 95px;
  left: 30px;
  width: 150px;
  height: 30px;
  font-family: Pretendard;
  font-size: 30px;
  text-align: left;
  font-weight: bold;
}
.wel {
  position: fixed;
  top: 140px;
  left: 30px;
  width: 150px;
  height: 30px;
  font-family: Pretendard;
  font-size: 20px;
  text-align: left;
  font-weight: medium;
}
.ellipse {
  background: linear-gradient(
    138.32deg,
    #3bb48e 11.26%,
    rgba(59, 180, 142, 0.6770833135) 38.14%,
    rgba(59, 180, 142, 0.328125) 67.19%,
    rgba(59, 180, 142, 0) 94.5%
  );
  border-radius: 143px;
  top: -30px;
  left: -50px;
  width: 286px;
  height: 286px;
  position: fixed;
}
.fontsize {
  border: 1px solid black;
  position: fixed;
  top: 210px;
  left: 20px;
  width: 350px;
  height: 120px;
  border-color: rgba(255, 255, 255, 0);
  border-radius: 12.8px;
  box-shadow: 0px 3px 7px 2px #bbbbbb;
  background-color: rgb(255, 255, 255, 0.9);
  z-index: 1;
}
.font {
  border: 1px solid black;
  width: 60px;
  height: 60px;
  border-radius: 20px;
}
#vs {
  background-color: rgba(59, 180, 142, 0.21);
  position: fixed;
  top: 260px;
  left: 25px;
  border-color: rgba(59, 180, 142, 0);
  border-radius: 9px;
}
#s {
  background-color: rgba(59, 180, 142, 0.37);
  position: fixed;
  top: 260px;
  left: 95px;
  border-color: rgba(59, 180, 142, 0);
  border-radius: 9px;
}
#m {
  background-color: rgba(59, 180, 142, 0.5);
  position: fixed;
  top: 258px;
  left: 164px;
  border-color: rgb(29, 86, 68);
  border-radius: 9px;
  border: 2px solid gray;
}
#b {
  background-color: rgba(59, 180, 142, 0.63);
  position: fixed;
  top: 260px;
  left: 235px;
  border-color: rgba(59, 180, 142, 0);
  border-radius: 9px;
}
#vb {
  background-color: rgba(59, 180, 142, 0.79);
  position: fixed;
  top: 260px;
  left: 305px;
  border-color: rgba(59, 180, 142, 0);
  border-radius: 9px;
}
.fonttxt {
  position: fixed;
  width: 60px;
  height: 60px;
  font-family: Pretendard;
  align-items: center;
  font-weight: normal;
  vertical-align: middle;
  display: flex;
}
#vs {
  color: #ffffff;
  top: 260px;
  position: fixed;
  left: 25px;
  font-size: 10px;
}
#s {
  color: #ffffff;
  top: 260px;
  position: fixed;
  left: 95px;
  font-size: 12.5px;
}
#m {
  color: #ffffff;

  font-size: 15px;
}
#b {
  color: #ffffff;
  top: 260px;
  position: fixed;
  left: 235px;
  font-size: 17.5px;
}
#vb {
  color: #ffffff;
  top: 260px;
  position: fixed;
  left: 305px;
  font-size: 20px;
}
.languages {
  border: 1px solid black;
  position: fixed;
  top: 360px;
  left: 20px;
  width: 350px;
  height: 120px;
  border-color: rgba(255, 255, 255, 0);
  border-radius: 12.8px;
  box-shadow: 0px 3px 7px 2px #bbbbbb;
  background-color: white;
}
.lan {
  border: 1px solid black;
  width: 60px;
  height: 60px;
  border-radius: 20px;
}
#eng {
  background-color: rgba(59, 180, 142, 0.21);
  position: fixed;
  top: 410px;
  left: 25px;
  border-color: #ffffff;
  border-radius: 9px;
}
#kor {
  background-color: rgba(59, 180, 142, 0.37);
  position: fixed;
  top: 409px;
  left: 94px;
  border-color: rgba(59, 180, 142, 0);
  border-radius: 9px;
  border: 2px solid gray;
}
#jpn {
  background-color: rgba(59, 180, 142, 0.5);
  position: fixed;
  top: 410px;
  left: 165px;
  border-color: rgba(59, 180, 142, 0);
  border-radius: 9px;
}
#cha {
  background-color: rgba(59, 180, 142, 0.63);
  position: fixed;
  top: 410px;
  left: 235px;
  border-color: rgba(59, 180, 142, 0);
  border-radius: 9px;
}
#spn {
  background-color: rgba(59, 180, 142, 0.79);
  position: fixed;
  top: 410px;
  left: 305px;
  border-color: rgba(59, 180, 142, 0);
  border-radius: 9px;
}
.lantxt {
  position: fixed;
  width: 60px;
  height: 60px;
  font-family: Pretendard;
  align-items: center;
  font-weight: normal;
  vertical-align: middle;
  display: flex;
}
#eng {
  color: #ffffff;
  position: fixed;
  top: 410px;
  left: 25px;
  font-size: 15px;
}
#kor {
  color: #ffffff;
  position: fixed;

  font-size: 15px;
}
#jpn {
  color: #ffffff;
  position: fixed;
  top: 410px;
  left: 165px;
  font-size: 15px;
}
#cha {
  color: #ffffff;
  position: fixed;
  top: 410px;
  left: 235px;
  font-size: 15px;
}
#spn {
  color: #ffffff;
  position: fixed;
  top: 410px;
  left: 305px;
  font-size: 15px;
}
.title2 {
  position: fixed;
  top: 370px;
  left: 30px;
  width: 150px;
  height: 30px;
  font-family: Pretendard;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}
.title1 {
  position: fixed;
  top: 220px;
  left: 30px;
  width: 150px;
  height: 30px;
  font-family: Pretendard;
  font-size: 20px;
  text-align: left;
  font-weight: bold;
}
