<link rel="stylesheet" href="../static/css/settings.css" />
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>News</title>
    <script
      src="https://kit.fontawesome.com/a935c354f5.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css"
    />
  </head>
  <body class="body">
    <div class="main">
      <div class="tt">Settings</div>
      <div class="wel">Welcome, user!</div>
      <div class="fontsize">
        <div class="title1">Font Size</div>
        <div class="font" id="vs"></div>
        <div class="font" id="s"></div>
        <div class="font" id="m"></div>
        <div class="font" id="b"></div>
        <div class="font" id="vb"></div>
        <div class="fonttxt" id="vs">&nbsp;&nbsp;&nbsp;Very Small</div>
        <div class="fonttxt" id="s">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Small</div>
        <div class="fonttxt" id="m">&nbsp;Medium</div>
        <div class="fonttxt" id="b">&nbsp;&nbsp;&nbsp;&nbsp;Big</div>
        <div class="fonttxt" id="vb">
          &nbsp;&nbsp;Very<br />&nbsp;&nbsp;&nbsp;Big
        </div>
      </div>
      <div class="languages">
        <div class="title2">Languages</div>
        <div class="lan" id="eng"></div>
        <div class="lan" id="kor"></div>
        <div class="lan" id="jpn"></div>
        <div class="lan" id="cha"></div>
        <div class="lan" id="spn"></div>
        <div class="lantxt" id="eng">&nbsp;&nbsp;English</div>
        <div class="lantxt" id="kor">&nbsp;&nbsp;&nbsp;한국어</div>
        <div class="lantxt" id="jpn">&nbsp;&nbsp;日本語</div>
        <div class="lantxt" id="cha">&nbsp;&nbsp;&nbsp;&nbsp;中文</div>
        <div class="lantxt" id="spn">&nbsp;Español</div>
      </div>
    </div>
    <div class = "menu_down">
      <div class = "menu_setting">
          <div class = "icon_setting">
              <a href="/setting"><i class="fa-solid fa-gear" style="color: #BBBBBB;"></i></a>
          </div>
          <div class = "text_setting">
              Setting
          </div>
      </div>
      <div class = "menu_news">
          <div class = "icon_news">
              <a href="/news"><i class="fa-regular fa-newspaper" style="color: #BBBBBB;"></i></a>
          </div>
          <div class = "text_news">
              News
          </div>
      </div>
      <div class = "menu_chat">
          <div class = "icon_chat">
              <a href="/chat"><i class="fa-regular fa-message" style="color: #BBBBBB;"></i></a>
          </div>
          <div class = "text_chat">
              Chat
          </div>
      </div>
      <div class = "menu_voca">
          <div class = "icon_voca">
              <a href="/wordlist"><i class="fa-solid fa-book" style="color: #BBBBBB;"></i></a>
          </div>
          <div class = "text_voca">
              Voca
          </div>
      </div>
      <div class = "menu_mypage">
          <div class = "icon_mypage">
              <a href="/"><i class="fa-regular fa-user" style="color: #BBBBBB;"></i></a>
          </div>
          <div class = "text_mypage">
              My Page
          </div>
      </div>
  </div>
  </body>
</html>
